<a href="https://colab.research.google.com/github/cantaruttim/Rotinas/blob/main/TDatas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def split_date(dataset):

  """
  Função responsável por separar data e hora e posteriormenete criando duas colunas
  ['Date'] e ['Hour'] que vai receber respectivamente o valor de índice 0 e 1

  Exemplo:
                                    0            1
  26/07/2022 07:09:05   >>>   '26/07/2022', '07:09:05'
  dataset['Date'] = 26/07/2022
  dataset['Hour'] = 07:09:05

  """

  ## Identify the data DD/MM/YYYY
  def get_date(date):
    return date.split(' ')[0]

  ## Identify the Hour hh:mm:ss
  def get_hour(date):
    return date.split(' ')[1]

  # Extraindo a data e a hora da coluna order_date

  dataset['Date'] = dataset['FECHA_APLICACION'].apply(lambda x:  f"{get_date(x)}")
  dataset['Hour'] = dataset['FECHA_APLICACION'].apply(lambda x: f"{get_hour(x)}")

  return dataset

# split_date(pd.read_csv("datas3.csv"))

In [ ]:
help(split_date)

Help on function split_date in module __main__:

split_date(dataset)
    Função responsável por separar data e hora e posteriormenete criando duas colunas
    ['Date'] e ['Hour'] que vai receber respectivamente o valor de índice 0 e 1

    Exemplo:
                                      0            1
    26/07/2022 07:09:05   >>>   '26/07/2022', '07:09:05'
    dataset['Date'] = 26/07/2022
    dataset['Hour'] = 07:09:05

In [ ]:
def concatena_data(dataset):

  dataset['Completa'] = dataset['FECHA_DISPENSACION'] + " " + dataset['Hora Inteira']
  dataset.to_csv("dataset.csv")
  return dataset

# concatena_data(pd.read_csv("datas.csv", sep="\t"))

       FECHA_DISPENSACION Hora Inteira               Completa
0              07/07/2022   10:29:00.0  07/07/2022 10:29:00.0
1              06/07/2022   02:48:00.0  06/07/2022 02:48:00.0
2              03/07/2022   19:40:00.0  03/07/2022 19:40:00.0
3              03/07/2022   13:29:00.0  03/07/2022 13:29:00.0
4              03/07/2022   01:17:00.0  03/07/2022 01:17:00.0
...                   ...          ...                    ...
276974         06/06/2022   00:50:00.0  06/06/2022 00:50:00.0
276975         06/06/2022   12:50:00.0  06/06/2022 12:50:00.0
276976         11/06/2022   06:50:00.0  11/06/2022 06:50:00.0
276977         11/06/2022   18:50:00.0  11/06/2022 18:50:00.0
276978         16/06/2022   06:50:00.0  16/06/2022 06:50:00.0

[276979 rows x 3 columns]

In [ ]:
# datas3['FECHA_APLICACION'] = pd.Series(datas3['FECHA_APLICACION'], dtype='datetime64[ns]')
# datas3['Date'] = pd.Series(datas3['Date'], dtype='datetime64[ns]')
# # datas['Hour'] = pd.Series(datas['Hour'], dtype='datetime64[ns]')

In [ ]:
# datas3.to_csv("datas_tratadas3.csv")

In [ ]:
import pandas as pd
import numpy as np
import datetime

In [ ]:
dataset = pd.read_csv("CONSOLIDADO SOL-DESP-APLI- ENE-FEB-MAR 2023 V2.csv", sep=";")

<ipython-input-31-da39b204eb55>:1: DtypeWarning: Columns (5,25,36,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("CONSOLIDADO SOL-DESP-APLI- ENE-FEB-MAR 2023 V2.csv", sep=";")

In [ ]:
dataset.drop(columns=["AÑO", "MES", "Mês_Ajustado", "EMPRESA", "COD_SEDE", "NRO_DOCUMENTO",
                      "TIPDOC", "CSC_INGRESO", "SEXO", "FECHA_NACIMIENTO", "EDAD",
                      "FECHA_INGRESO", "FECHA_EGRESO", "FECHA_REGISTRO", "CODIGO_ANATO", "COD_PRIAC",
                      "COD_CONC", "COD_FRMFRC", "DESCRIPCION_MEDICAMENTO_FORMULADO", "NUMERO_FOLIO", "ACCION",
                      "DOSIS", "UNIDAD", "VIA_APLICACION", "COD_FRCUENCIA", "Frecuencia", "COD_MED", "NOMBRE_MEDICO_FORMULA",
                      "ESPECIALDIAD_MEDICO", "OBSERVACIONES", "ES_MAGISTRAL", "POS_NO_POS"], axis = 1, inplace=True)
# "PRIMER_NOMBRE", "SEGUNDO_NOMBRE",
#                       "PRIMER_APELLIDO", "SEGUNDO_APELLIDO",

In [ ]:
dataset.head()

,PRIMER_NOMBRE,SEGUNDO_NOMBRE,PRIMER_APELLIDO,SEGUNDO_APELLIDO,PABELLON_FORMULACION,Dia,Mês,Ano,FECHA_DISPENSACION,Hora,Hora_ajustada,FECHA_DESPACHO,CONSECUTIVO_APLICACION,ESTADO,FECHA_PROGRAMACION,FECHA_APLICACION,OBSERVACION_DE_APLICACION,ESTADO_DEVOLUCION
0,YEISON,ARGEMIRO,GALLEGO,RAMIREZ,HOSP PISO 4 LADO D,2,1,2023,02/01/2023,10:49:05.0,NaN,,1,DISPENSADO,2023-01-02 19:57:00.0,1753-01-01 00:00:00.0,,NO DEVUELTO
1,YEISON,ARGEMIRO,GALLEGO,RAMIREZ,HOSP PISO 4 LADO D,2,1,2023,02/01/2023,10:49:08.0,NaN,2023-01-02 11:28:15.0,1,APLICADO,2023-01-02 20:03:00.0,2023-01-02 21:03:33.0,,NO DEVUELTO
2,YEISON,ARGEMIRO,GALLEGO,RAMIREZ,HOSP PISO 4 LADO D,2,1,2023,02/01/2023,10:49:08.0,NaN,2023-01-02 11:28:15.0,2,DISPENSADO,2023-01-03 04:03:00.0,1753-01-01 00:00:00.0,,NO DEVUELTO
3,YEISON,ARGEMIRO,GALLEGO,RAMIREZ,HOSP PISO 4 LADO D,2,1,2023,02/01/2023,10:49:08.0,NaN,2023-01-02 11:28:15.0,3,DISPENSADO,2023-01-03 12:03:00.0,1753-01-01 00:00:00.0,,NO DEVUELTO
4,YEISON,ARGEMIRO,GALLEGO,RAMIREZ,HOSP PISO 4 LADO D,2,1,2023,02/01/2023,10:49:01.0,NaN,2023-01-02 11:28:15.0,3,APLICADO,2023-01-03 10:00:00.0,2023-01-03 10:00:00.0,DESPACHADO.,NaN

In [ ]:
dataset['FECHA_DISPENSACION'].isnull().sum()

392949

In [ ]:
dataset.isnull().sum()

PRIMER_NOMBRE                     0
SEGUNDO_NOMBRE                    0
PRIMER_APELLIDO                   0
SEGUNDO_APELLIDO                  0
PABELLON_FORMULACION              1
Dia                               1
Mês                               1
Ano                               1
FECHA_DISPENSACION           392949
Hora                         392951
Hora_ajustada                393124
FECHA_DESPACHO                    1
CONSECUTIVO_APLICACION            1
ESTADO                            1
FECHA_PROGRAMACION                1
FECHA_APLICACION                  1
OBSERVACION_DE_APLICACION         1
ESTADO_DEVOLUCION              9042
dtype: int64